body{
    background-color: #fff;
    margin: 0;
}

.mr-10 {
    margin-right: 10px;
}

header {
    background-color: #f7f8fa;
}

#main {
    background-color: #fff;
    width: 1200px;
    padding: 10px;
}

footer {
    background-color: #f7f8fa;
    margin-top: 50px;
}

#main .red-shape {
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

#main .blue-shape {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}
/*master*/
#main .purple-shape {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}
/*feature*/
#main .square1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}
/*col develop*/
#main .square2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}

